@import '/src/scss/variables.scss';
@import '/src/scss/colors.scss';

.container {
  display: flex;
  margin-top: 50px;

  .col+.col {
    margin-left: 50px;
  }
}

.field {
  display: flex;
  flex-wrap: wrap;
  width: calc($cell-width * var(--cells-column));
}

.square {
  width: $cell-width + px;
  height: $cell-width + px;
  box-sizing: border-box;
  background-color: $cell-default;
  outline: 1px solid $border;
  cursor: pointer;

  &.filled {
    background-color: $cell-filled;
  }
}